.me-pic {
  position: relative;
  top: 100px;
  left: 1400px;
  margin: 0;
  padding: 0;
}

.me-section {
  width: 100%;
  height: 750px;
  background-color: rgb(16, 15, 90);
  position: absolute;
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
  right: 0;
}
